html{
    position: absolute;
    size: 0;
}


.body_bg{
    position: absolute;
    width: 412px;
    height: 353px;
    left: 100px;
    top: 100px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 63px 63px 63px 0px;
}

.header{
position: relative;
width: 412px;
height: 119px;
bottom: 2px;
right: 2px;
background: #e9c2c2;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 60px 60px 60px 0px;
}

.word{
position: relative;
width: 380px;
height: 59px;
left: 8%;
bottom: 8%;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 24px;
/* or 57% */

display: flex;
align-items: center;

color: #000000;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.word_pro{
position: absolute;
width: 88px;
height: 19px;
left: 8%;
top: 68px;

text-align: center;
font-size: small;

background: rgba(255, 255, 255, 0.6);
border: 1px solid #000000;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 10px;
}

.word_type{
    position: absolute;
    width: 88px;
    height: 19px;
    left: 35%;
    top: 68px;
    
    text-align: center;
    font-size: small;
    
    background: rgba(255, 255, 255, 0.6);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 10px;
}

.expand{
position: absolute;
width: 21px;
height: 21px;
left: 82%;
bottom: 50px;
border-radius: 50%;
background: #DC6A6A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.expand_button{
    position: relative;
    left: 5%;;
    bottom: 17%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.big_circle{
position: absolute;
width: 73px;
height: 73px;
left: -25px;
bottom: -25px;
border-radius: 50%;

background: #E8CFCF;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.small_circle{
    position: absolute;
    width: 41px;
    height: 41px;
    left: -30px;
    bottom: -35px;
    border-radius: 50%;

background: #DC6A6A;
border: 2px solid #000000;
box-sizing: border-box;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
position: absolute;
width: 107px;
height: 23px;
left: 8%;
top: 120px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 24px;
/* or 133% */

display: flex;
align-items: center;

color: #000000;

}

.info{
position: absolute;
width: 288px;
height: 140px;
left: 8%;
top: 145px;
margin: 1% 0% 0% 0%;

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 24px;
/* or 133% */

display: flex;
align-items: center;

color: #000000;
}

.speaker{
position: absolute;
width: 62px;
height: 49px;
left: 320px;
top: 189px;
}

.option{
position: absolute;
width: 135px;
height: 29px;
left: 57px;
top: 307px;

color: #DC6A6A;

font-family: 'Inter';
font-style: italic;
font-weight: 300;
font-size: 14px;
line-height: 24px;
/* or 171% */

display: flex;
align-items: center;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a{
    color: inherit;
    cursor: pointer;
}

a:hover{
    color:#1aa099;
}

.speaker{
    cursor: pointer;
}