.container {
    background-color: transparent;
    border: 3px solid black;
    max-width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
}

.header {
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 16px 16px 0 0;
    padding: 5px 5px 0 8px;
}